*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    height: 100vh;
}

#home{
    background: linear-gradient(to right, orange, red);
    color: white;
    padding: 100px;
}

#home h1{
    font-size: 50px;
    margin-bottom: 30px;
}

#home .description{
    font-size: 20px;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141516;
}

.box{
    height: 90%;
    width: 15%;
}

.one{
    background: url(./1.png);
    background-size:cover ;
    filter: brightness(0%);
}

.box:hover{
    filter: brightness(100%);
}

.two{
    background: url(./2.png);
    background-size:cover ;
}

.three{
    background: url(./3.png);
    background-size:cover ;
}

.four{
    background: url(./4.png);
    background-size:cover ;
}

.five{
    background: url(./5.png);
    background-size:cover ;
}

#background{
    background: url(./background2.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    width: 829px;
    height: 613px;
    padding: 20px;
    background: url(./back1.png) no-repeat;
    background-size: cover;
    margin: 20px;
    border-radius: 10px;
}

.member .name{
    color: #0172c0;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.left-to-right{
    transform: translateX(-200%);
    transition: 1s;
}

.left-to-right.start{
    transform: translateX(0);
}

.top-to-bottom{
    transform: translateY(-50%);
    opacity: 0;
    transition: 1s;
}

.top-to-bottom.start{
    transform: translateY(0);
    opacity: 1;
}

.bottom-to-top{
    transform: translateY(50%);
    opacity: 0;
    transition: 1s;
}

.bottom-to-top.start{
    transform: translateY(0);
    opacity: 1;
}

.zoom{
    transform: scale(0);
    opacity: 0;
    transition: 1s;
}

.zoom.start{
    transform: scale(1);
    opacity: 1;
}