*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(./Image/background2.jpg);
    background-size: cover;
}

.furniture{
    width: 80vh;
    height: 80vh;
    position: relative;
    top:50px;
}

img{
    width: 80%;
    height: 80%;
    object-fit: fill;
    object-position: center;
}

.car{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.people{
    margin-top: 200px;
    margin-left: 50px;
    transition: 2s;
}

.car, .people, .boxtext{
    position: absolute;
    overflow: hidden;
}

.box{
    width: 500px;
    height: 150px;
    position: relative;
    color: black;
    font-weight: bold;
    font-size: 40px;
    top:90%;
    left: 150%;
    opacity: 0;
    transition: 0.5s;
    transition-delay:0.5s ;
}

.btext{
    position: absolute;
    top:20%;
    left:5%;
}

.furniture:hover .people{
    transform: translateX(500px);
}

.furniture:hover .box{
    opacity: 100%;
}

.search_box{
    background: none;
    width: 70px;
    height: 70px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    transition: 0.5s;
    left: 850px;
    top:290px;
    opacity: 0%;
}

.sb_button{
    position: absolute;
    right:0;
    top:0;
    width: 70px;
    height: 70px;
    font-size: 25px;
    border: none;
    outline: none;
    background: lightpink;
    border-radius: 50%;
    color: white;
    outline: none;
    cursor: pointer;
    transition: 1s;
    transition-delay:2s ;
}

.sb_input{
    width: 100%;
    height: 100%;
    background: transparent;
    color: lightcoral;
    font-size: 30px;
    padding:0 10px;
    font-family: cursive; 
    border: none;
    outline: none;
}

.search_box.open{
    width: 480px;
    background: black;
}

.furniture:hover .search_box{
    opacity: 100%;
}